# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments (CRITICAL)
venv/
env/
ml_api/
sd_env/
opencv_env/
lib/
bin/
include/
share/

# ML artifacts
#*.pkl
#*.h5
#*.pt
#*.onnx
#models/
#checkpoints/

# Logs & data
logs/
data/

# Secrets
.env
.env.*
